#### Name :- Gaykhe Punam Pandharinath
    Roll No :- 21 A
    Batch : A1 & A2
#### Title :- Data Analytics II

In [ ]:
1. Implement logistic regression using Python/R to perform classification on 
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, 
Recall on the given dataset.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("Social_Network_Ads.csv")

In [4]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
x = df[["Age", "EstimatedSalary"]]
y=df['Purchased']

In [7]:
x.isnull().sum()

Age                0
EstimatedSalary    0
dtype: int64

In [8]:
y.isnull().sum()

0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test =train_test_split(x,y,test_size=0.3)

In [11]:
x_test.shape

(120, 2)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
model = LogisticRegression()

In [14]:
x_train

     Age  EstimatedSalary
293   37            77000
150   26            15000
112   38            61000
130   31            58000
271   59            76000
..   ...              ...
188   35            72000
74    32            18000
263   35            72000
26    49            28000
225   37            53000

[280 rows x 2 columns]

In [15]:
y_train

293    0
150    0
112    0
130    0
271    1
      ..
188    0
74     0
263    0
26     1
225    0
Name: Purchased, Length: 280, dtype: int64

In [16]:
model.fit(x_train,y_train)

LogisticRegression()

In [17]:
y_pred=model.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix

In [19]:
cm=confusion_matrix(y_test,y_pred)

In [20]:
print(cm)

[[69  0]
 [51  0]]

In [55]:
print(f"TN value is {cm[0][0]}")
print(f"FP value is {cm[0][1]}")
print(f"FN value is {cm[1][0]}")
print(f"TP value is {cm[1][1]}")

TN value is 77
FP value is 0
FN value is 43
TP value is 0

In [21]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score

In [23]:
cm=confusion_matrix(y_test,y_pred)

In [24]:
cm

array([[69,  0],
       [51,  0]], dtype=int64)

In [57]:
print(f"Accuracy score is {accuracy_score(y_test, y_pred)}")

Accuracy score is 0.6416666666666667

In [58]:
print(f"Error rate is {1-accuracy_score(y_test, y_pred)}")

Error rate is 0.3583333333333333

In [30]:
print(f"precision score is {precision_score(y_test, y_pred,zero_division=1)}")

precision score is 1.0

In [31]:
print(f"Recall score is {recall_score(y_test, y_pred,zero_division=1)}")

Recall score is 0.0

In [76]:
print(classification_report(y_test, y_pred, zero_division=1))

              precision    recall  f1-score   support

           0       0.64      1.00      0.78        77
           1       1.00      0.00      0.00        43

    accuracy                           0.64       120
   macro avg       0.82      0.50      0.39       120
weighted avg       0.77      0.64      0.50       120